<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="container.restaurant.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ContainerRestaurantApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".presentation.feed.write.FeedWriteActivity" />

        <activity android:name=".presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.auth.SignInActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".presentation.feed.all.FeedAllActivity"
            android:theme="@style/AppThemeGreen" />

        <activity android:name=".presentation.user.UserProfileActivity" />
    </application>
</manifest>